body {
    font-family: Georgia, Palatino, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    text-rendering: optimizeLegibility;
}

a {
    color: #416ed2;
}

a:hover {
    color: #416ed2;
    text-decoration: underline;
}

a:visited {
    color: #416ed2;
}